apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llm
  template:
    metadata:
      labels:
        app: llm
    spec:
      imagePullSecrets:
        - name: ecr-registry-secret
      containers:
        - name: llm
          image: 539358810919.dkr.ecr.us-east-1.amazonaws.com/llm:latest
          ports:
            - containerPort: 8000

