apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llm
  template:
    metadata:
      labels:
        app: llm
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: llm
          image: 539358810919.dkr.ecr.us-east-1.amazonaws.com/llm:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: llm-service
  namespace: llm
spec:
  type: ClusterIP
  selector:
    app: llm
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: llm-service-hpa
  namespace: llm
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: llm
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
