apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm
  namespace: llm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llm
  template:
    metadata:
      labels:
        app: llm
    spec:
      containers:
        - name: llm
          image: IMAGE_LLM_TAG
          ports:
            - containerPort: 8000